/* Mikael A. Mendoza init-css */
:root {
    --background-color: #FFFFFF;
    --alt-background-color:#1a1d29;
    --font-color:#000000;
    --accent-color:#0072be;
    --alt-font-color:#ffffff;
}

/* Base Theme - Mobile-first */
html{
    color: var(--font-color);
}

body{
    /* Layout */
    margin: auto;
    text-align: center;

    /* Font */
    font-size: 1.2rem;
    font-family: sans-serif;
}

div{
    margin: 0.5rem 0 0 0;
}

/* REUSABLE CLASSES*/
.button{
    color:var(--background-color);
    background-color: var(--accent-color);
    border: 0.05rem solid var(--alt-background-color);
    border-radius: 0.27rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Section */
.section{
    max-height: 100%;
    max-width: 98vw;
    margin: 0;
    padding: 1rem 0.5rem;
}

.section-title{
    text-align: left;
    padding-left: 0.5rem !important;
}

.section > * {
    padding-left: 0.75rem;
}

.section-content{
    margin: 0;
    padding-left: 5%;
}

/* Modal */
.modal{
    position: fixed;
    margin: 1.5%;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--background-color);
    border: 0.25rem solid var(--accent-color);
    border-radius: 0 0.7rem 0 0;
    width: 94%;
    max-height: 94%;
    animation-duration: 0.7s;
    animation-name: fadeIn;
}
.modal-header{
    height:10%;
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: var(--accent-color);
}
.modal-title{
    width: 94.5%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    text-align: left;
    color: var(--alt-font-color);
    margin-left: 0.5%;
    font-weight: bolder;
    font-size: 1.5rem;
}
.modal-close{
    float: right;
    height: 100%;
    width: 5%;
    background: var(--accent-color);
    font-weight: bold;
    padding: 0 !important;
    border: none;
}
.close-modal-btn{
    height: 100%;
    width: 100%;
    border-color: var(--accent-color);
    margin-right: 0.25rem;
}
.modal-content{
    padding: 2rem 0.5rem 0.5rem 0.5rem;
}

/* Animated  Classes */
.fadeIn{
    /* Animations */
    animation-duration: 1.7s;
    animation-name: fadeIn;
}
.fadeOut{
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-name: fadeOut;
}
.delayedFadeIn{
    visibility: hidden;
    /* Animations */
    animation-delay: 1.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
}

/* Medium-Large screens */
@media (min-width: 768px) {
    body{
        text-align: left;
    }
    .section{
        padding: 1rem 5rem 0 5rem;
    }
    .section-title{
        padding-left: 1rem !important;
    }
    .section > * {
        padding-left: 2rem;
    }
}


/* Desktops - Large screens */
@media (min-width: 1024px) {
    body{
        text-align: left;
    }
    .section{
        padding: 1.25rem 7rem 0 7rem;
    }
    .section-title{
        padding-left: 1rem !important;
    }
    .section > * {
        padding-left: 2.5rem;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}